In [1]:
import pandas as pd
wd = "~/Dropbox/Work/CHCO/Christine Chan/CF registry data/"

In [3]:
df = pd.read_csv(wd+"CFF19_encountersMerged_Del1.csv")
df

,eDWID,reviewyear,encounterid,program,encounternum,encounterlocation,height,htpct_zscore,WHO_HeightPercentile,weight,...,alkalinephos,totalbilirubin,rand_bloodglucose,fast_bloodglucose,ogttfast_bloodglucose,twohour_bloodglucose,hgba1c,fecal_elas_value,liver_enzymes_drawn,act_secondary6
0,900000702,2003,2655190,43,1,1,109.3,-0.85,NaN,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,900000702,2003,2942890,43,2,1,110.4,-0.94,NaN,18.7,...,NaN,NaN,88.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,900000702,2003,3236770,43,3,1,110.5,-1.31,NaN,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,900000702,2003,19875600,43,4,1,112.3,-1.26,NaN,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,900000702,2003,19699810,43,5,1,113.0,-1.31,NaN,19.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272168,979990794,2010,22343610,162,3,1,91.8,1.55,NaN,15.6,...,NaN,NaN,92.0,NaN,NaN,NaN,5.7,NaN,NaN,NaN
2272169,979990794,2010,22612890,162,4,1,95.6,1.83,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2272170,979990794,2011,24493440,162,1,1,97.7,1.73,NaN,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2272171,979990794,2018,37463610,162,1,1,151.7,1.94,NaN,60.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2272172,979990794,2018,38079770,162,2,1,155.0,2.17,NaN,63.8,...,249.0,0.2,97.0,NaN,92.0,149.0,5.3,NaN,NaN,NaN